  <div class="body">

            
<nav class="navbar navbar-expand-lg" style="background-color:#2992e0;">
                <img id="dSLogo"src="../assets/DS-LOGO-full-white.png" alt="DSLogo">
                <div class="nav-element">
                        <button class="nav-item" mat-button >Settings</button>
                        <button class="nav-item" mat-button >LogOut</button>

                </div>
               
        
        
</nav>

<div class="vm">
<h4>Deploy VM </h4>
<a href="https://azuredeploy.net/?repository=https://github.com/HarshSharmaDS/TestVM" target="_blank">
  <img src="https://azuredeploy.net/deploybutton.png"/>
</a>
</div>

<div class="container-fluid">
                
                <router-outlet></router-outlet>
</div>

</div>





